@charset "UTF-8";

/* //////////////////////// */
/* /// Works Styles //// */
/* //////////////////////// */

.about-heading {
  margin: 10rem 0;
}

.about-heading h1 {
  font-size: 3rem;
  margin-bottom: 1.75rem;
}

.about-heading p {
  line-height: 1.75;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 1.6rem;
}

.yellow,
.red,
.blue, 
.green {
  height: 40rem;
  opacity: .2;
}

.yellow {
  background: yellow;
  grid-column: 1 / 2;
}

.red {
  background: pink;
  grid-column: 2 / 3;
}

.blue {
  background: blue;
  grid-column: 0 / 1;
}

.green {
  background: green;
  grid-column: 2 / 3;
}


  
  